<div class="col-lg-12">
  <%= line_chart @data_graph,
                title: 'Gráfico valor UF en pesos(cl)',
                colors: ['green'],
                library: {
                    tooltip: {
                        pointFormat: 'Times Bought'
                    }
                } %>
</div>