<footer id="footer">
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-unstyled">
        <li><%= link_to 'Dolar ', dolar_get_dolar_values_path %></li>
        <li><%= link_to 'UF ', uf_get_uf_values_path %></li>
        <li><%= link_to 'TMC ', tmc_get_tmc_values_path %></li>
      </ul>
      <p>Trabajo realizado por Kenneth Peet D.</p>
      <p>Código disponible en el repositorio <a href="https://github.com/kpeet/cumplo_desafio">GitHub</a>.</p>
      <p>Based on <a href="https://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow">Google</a>.</p>

    </div>
  </div>

</footer>