<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a href="../" class="navbar-brand">Desafío Cumplo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
        <li class="nav-item"> <a class="nav-link" href="<%= dolar_get_dolar_values_path %>">Dolar <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="<%= uf_get_uf_values_path %>">UF <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="<%= tmc_get_tmc_values_path %>">TMC <span class="sr-only">(current)</span></a></li>
      </ul>

        <ul class="nav navbar-nav ml-auto">
          <li>
         <a class="nav-link" href="https://github.com/kpeet/cumplo_desafio/" target="_blank">GitHub Proyecto</a>
          </li>
        </ul>


    </div>
  </div>
</div>
