<div class="col-lg-12">
  <%= bar_chart @tweets_count,
                title: 'Top Ten Products (By Total Quantity Purchased)',
                colors: ['green'],
                library: {
                    tooltip: {
                        pointFormat: 'Times Bought'
                    }
                } %>
</div>