<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Indicador </th>
    <th scope="col">Rango de Fechas </th>
    <th scope="col">Promedio  </th>
    <th scope="col">Máximo  </th>
    <th scope="col">Mínimo  </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Dolar</td>
    <td><%= @fecha_inicio+" - "+@fecha_final%></td>
    <td><%= @papita[2]%></td>
    <td><%= @papita[1]%></td>
    <td><%= @papita[0]%></td>
  </tr>
  </tbody>
</table>