 <div class="card" >
    <div class="card-body">
      <h5 class="card-title"><%= @titulo %></h5>
      <p class="card-text">Selecione un rango de fechas</p>
      <%= form_tag({controller: "tmc", action: "show_result" }, method: "post") do %>
        <div class="field">
          <input id="fecha_inicio" class="datepicker" name="fecha_inicio" type="date" placeholder="Rango inicial" />
          <input id="fecha_final" class="datepicker"  name="fecha_final" type="date"  placeholder="Rango final" />
          <%= submit_tag("Buscar" , class: "btn btn-primary") %>
        </div>
      <% end %>
    </div>
  </div>
