<!-- Lista de Valores con Fecha -->
<div class="col-lg-12">

  <div class="form-group">
    <label for="exampleSelect2">Example multiple select</label>
    <table class="table ">

      <thead class="thead-light">
      <tr>
        <th> Indices TMC Máximos para las FECHAS FALTAN  </th>

      </tr>
      </thead>

      <tbody>

      <% if(!@tweets_count.empty?)
       lista_para_grafico=[]
      %>s
        <% @tweets_count.each do | tipo_tmc, lista_valores ,maximo, subtitulo, titulo|
          lista_para_grafico=lista_valores

            %>

          <tr>
            <td>
              <ul>
                <li><%=  titulo %> </li>
                <ul>
                  <li><%=  subtitulo %></li>
                </ul>
              </ul>


            </td>
            <td><%=  maximo%></td>
          </tr>


        <% end %>
      <%end %>

      <div class="col-lg-12">
        <%= bar_chart @tweets_count,
                      title: 'Top Ten Products (By Total Quantity Purchased)',
                      colors: ['green'],
                      library: {
                          tooltip: {
                              pointFormat: 'Times Bought'
                          }
                      } %>
      </div>
      </tbody>

    </table>


  </div>
</div>