<!-- Lista de Valores con Fecha -->
<div class="col-lg-12">

  <div class="form-group">
    <label for="exampleSelect2">Example multiple select</label>
    <table class="table ">

      <thead class="thead-light">
      <tr>
        <th scope="col">Titulo  </th>
        <th scope="col">Subtitulo  </th>
        <th scope="col">Valor máximo  </th>
      </tr>
      </thead>

      <tbody>
      <% if(@result.size>=1) %>
        <% @result.each do |tmc_data |%>
          <tr>
            <td><%=  tmc_data[:titulo] %></td>
            <td><%=  tmc_data[:subtitulo] %></td>
            <td><%=  tmc_data[:valorMax] %></td>
            <td><button name="button" class="button">Ver Histórico</button></td>
          </tr>


        <% end %>
      <%end %>
      </tbody>

    </table>


  </div>
</div>